<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.url">jdbc:postgresql://rc1a-vjev09iwfvbz9znn.mdb.yandexcloud.net:6432/db1
        </property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="connection.username">sysuser</property>
        <property name="connection.password">myverypassword</property>
        <property name="connection.autocommit">true</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.konovalov.edu.entity.Employee"/>
        <mapping class="com.konovalov.edu.entity.Occupation"/>
        <mapping class="com.konovalov.edu.entity.Role"/>
        <mapping class="com.konovalov.edu.entity.Type"/>
        <mapping class="com.konovalov.edu.entity.User"/>
        <mapping class="com.konovalov.edu.entity.Vacation"/>

    </session-factory>
</hibernate-configuration>